.bg {
    background-image: url('img/library_cloned-3200x1600_16x9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.black-bg {
border-radius: 25px;
background-color: rgba(0,0,0,0.5);
}



.R{
color: #ff3131;
}

.P{
    color: #8c52ff;
    }

.B{
        color: #38b6ff
        }
.W {
    color: #ffff;
}

.libre-bodoni-uniquifier {
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .BC {
    height: 600px;
    width: 500px;
  }

.SG {
    text-align: right;
  }