.bg {
    background-image: url('img/library_cloned-3200x1600_16x9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.black-bg {
border-radius: 25px;
background-color: rgba(0,0,0,0.5);
}



.R{
color: #ff3131;
}

.P{
    color: #8c52ff;
    }

.B{
        color: #38b6ff
        }
.W {
    color: #ffff;
}